footer {
    font-size: 10px;
    border-top: 1px solid #cfcfcf;
    padding: 8px 1rem;
    background: #fff;
    margin-top: 1rem;
    * {
        margin: 0;
    }
    a { 
        line-height: 1;
        color: #666;
        text-decoration: none;
    }
}