<div class="document-item" [ngClass]="{'folder': isFolder(document), 'file': isFile(document)}">
  <div class="item-header">
    <span (click)="toggleChildren()" class="toggle-icon" *ngIf="isFolder(document) && document.children && document.children.length > 0">
      {{ isExpanded ? '-' : '+' }}
    </span>
    <fa-icon [icon]="isFolder(document) ? 'folder' : 'file-pdf'" class="document-icon"></fa-icon>
    <h3 (click)="isFile(document) ? selectDocument.emit(document.fileUrl) : toggleChildren()">{{ document.name }}</h3>
    <div class="tags" *ngIf="isFile(document) && document.tags">
      <span *ngFor="let tag of document.tags" class="tag">
        {{ tag }}
        <button (click)="removeTag.emit({docId: document.id, tag: tag})">×</button>
      </span>
    </div>
    <span class="document-date" *ngIf="isFile(document) && document.uploadDate">{{ convertTimestamp(document.uploadDate) | date }}</span>
    <fa-icon [icon]="['fas', 'trash']" class="delete-icon" (click)="onDeleteDocument(document)"></fa-icon>
  </div>
  <div class="actions" *ngIf="isFile(document)">
    <input type="text" placeholder="Add tag" #newTag />
    <button (click)="addTag.emit({docId: document.id, tag: newTag.value}); newTag.value = ''">Add Tag</button>
    <input type="text" placeholder="Share with UID" #shareInput />
    <button (click)="shareDocument.emit({docId: document.id, uid: shareInput.value}); shareInput.value = ''">Share</button>
    <button (click)="deleteDocument.emit(document.id)">Delete</button>
  </div>
  <ul *ngIf="isFolder(document) && isExpanded && document.children && document.children.length > 0">
    <ng-container *ngFor="let child of document.children">
      <li>
        <app-document-item
          [document]="child"
          (selectDocument)="selectDocument.emit($event)"
          (addTag)="addTag.emit($event)"
          (removeTag)="removeTag.emit($event)"
          (shareDocument)="shareDocument.emit($event)"
          (deleteDocument)="deleteDocument.emit($event)">
        </app-document-item>
      </li>
    </ng-container>
  </ul>
</div>