.spectrum-App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--spectrum-global-color-gray-100);
}

.spectrum-AppHeader {
  background-color: var(--spectrum-global-color-gray-200);
  padding: var(--spectrum-global-dimension-size-200) var(--spectrum-global-dimension-size-300);
  border-bottom: 1px solid var(--spectrum-global-color-gray-300);
}

.spectrum-App-content {
  flex: 1;
  overflow-y: auto;
  padding: var(--spectrum-global-dimension-size-200);
}