.pdf-container {
  width: 100%;
  height: calc(100vh - var(--spectrum-global-dimension-size-800));
  border: var(--spectrum-alias-border-size-thin) solid var(--spectrum-global-color-gray-200);
  border-radius: var(--spectrum-alias-border-radius-regular);
  overflow: hidden;
}

.spectrum-Panel {
  background-color: var(--spectrum-global-color-gray-100);
  border: var(--spectrum-alias-border-size-thin) solid var(--spectrum-global-color-gray-200);
  border-radius: var(--spectrum-alias-border-radius-regular);
  padding: var(--spectrum-global-dimension-size-200);
}

.spectrum-Panel-item {
  margin-bottom: var(--spectrum-global-dimension-size-200);
}
